body {
  background-color: rgb(103, 19, 100);
  margin: 10px;;
 
}


form {
  width: 300px;
  margin: 60px auto;
  text-align-last: center;
  padding: 100px;
  background: #ef7fe2;
 
}

label {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight:normal
}